.row{
    color: white;
    margin-left: 20px;
}
.row_posters{
    display: flex;
    /*both are used to get the scroll of only one row*/
    overflow-y: hidden;
    overflow-x: scroll;
    /*if we not give padding then after hover it crops the upper part*/
    padding: 20px;
    /* margin-left: 20px; */
}
/*to hide the scroll bar but to keep the functionality*/
.row_posters::-webkit-scrollbar{
    display: none;
}
.row_poster{
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    transition: transform 450ms;
    margin-right: 10px;
}
.row_poster:hover{
    transform: scale(1.08);
}
.row_posterLarge{
    max-height: 250px;
}
.row_posterLarge:hover{
    transform: scale(1.09);
}